<link rel="stylesheet" href="/css/doctor-patient-profile.css">
<div class="main-div">
    <div class="patient-list-div">
        <div class="pl-heading">PATIENTS</div>
        <section id="doc-list">
            <% for(let patient of patient_list){ %>
                <div class="seperation-doc"></div>
                <a href="/doctor/profile_patient/<%= patient._id %>">
                    <div class="doc-id">
                        <img src="/images/patient-n.png" alt="Doctor " class="image">
                        <div class="doc-info">
                            <h1 class="doc-name">
                                <%= patient.username %>
                            </h1>
                            <h3 class="doc-type"></h3>
                        </div>
                    </div>
                </a>
                <% } %>
        </section>
    </div>
    <div class="patient-detail-div">
        <div class="patient-detail-div-content">
            <div class="profile-heading">
                <img src="/images/patient-n.png" alt="Doctor " class="profile-heading-image">
            </div>
            <div class="button-profile-set">
                <button class="button-profile" id="b1" onclick="changetab(this.value, this.id)"
                    value="patient-content">Patient
                    Info</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b2" onclick="changetab(this.value, this.id)"
                    value="patient-visits">Visits</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b3" onclick="changetab(this.value, this.id)"
                    value="patient-labs">Labs</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b4" onclick="changetab(this.value, this.id)"
                    value="patient-prescriptions">Prescriptions</button>
            </div>
            <div id="patient-content">
                <div class="patient-content-heading">General Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Name</div>
                    <div class="patient-content-right">
                        <%= patient.username %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Age</div>
                    <div class="patient-content-right">
                        <%= patient.age %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Sex</div>
                    <div class="patient-content-right">
                        <%= patient.gender %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-heading">Contact Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Contact number</div>
                    <div class="patient-content-right">Unavailable</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">E-mail</div>
                    <div class="patient-content-right">
                        <%= patient.email %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
            </div>
            <div id="patient-visits">
                <div class="patient-content-heading">Upcoming Appointments</div>
                <% var i=0; %>
                    <% for(let appointment of appointments){ %>
                        <% i++ %>
                            <div class="patient-content-heading">Appointment <%=i%>
                            </div>
                            <div class="seperation-patient-content"></div>
                            <div class="patient-content-part">
                                <div class="patient-content-left">Name</div>
                                <div class="patient-content-right">
                                    <%= appointment.patient %>
                                </div>
                            </div>

                            <div class="seperation-patient-content"></div>
                            <div class="patient-content-part">
                                <div class="patient-content-left">Day</div>
                                <div class="patient-content-right">
                                    <%= appointment.day %>
                                </div>
                            </div>

                            <div class="seperation-patient-content"></div>
                            <div class="patient-content-part">
                                <div class="patient-content-left">Time</div>
                                <div class="patient-content-right">
                                    <%= appointment.time %>
                                </div>
                            </div>
                            <% } %>
            </div>
            <div id="patient-labs">Labs: Coming soon!</div>

            <!-- prescription section -->
            <div id="patient-prescriptions">
                <div class="patient-content-heading">Prescriptions General Entry</div>
                <div class="seperation-patient-content"></div>
                <form id="prescription-form" action="/doctor/create-prescription/<%= patient._id %>" method="POST">

                    <div class="prescription-patient-field">
                        <div class="prescription-patient-label">Name</div>
                        <div ><%= patient.username %></div>
                    </div>
                    <div class="prescription-patient-field">
                        <div class="prescription-patient-label">Age</div>
                        <div ><%= patient.age %></div>
                    </div>
                    <div class="prescription-patient-field">
                        <div class="prescription-patient-label">Sex</div>
                        <div ><%= patient.gender %></div>
                    </div>

                    <div class="department-category-field">
                        <label for="hospital_department" class="department-category-labels">Hospital Department</label>
                        <input type="text" class="department-category-inputs" id="hospital_department"
                            name="hospital_department" placeholder="Hospital Department"><br>
                    </div>
                    <div class="department-category-field">
                        <label for="category" class="department-category-labels">Category</label>
                        <input type="text" class="department-category-inputs" id="category" name="category"
                            placeholder="Category">
                    </div>

                    <div id="complaint-section">
                        <label class="prescription-margin-adjustment" for="complaint">Chief Compaint:</label>
                        <textarea id="complaint" name="complaint" rows="4" cols="75"></textarea>
                    </div>

                    <div id="diagonictic-test-field">
                        <div class="patient-content-heading">Diagonictic Tests</div>
                            <div class="seperation-patient-content"></div>
                        <div id="diagonictic-test-input-field">
                            <div class="diagonictic-test-input-section">
                                <input type="checkbox" value="MRI" id="MRI" name="test"><label
                                    class="diagonictic-test-field-labels" for="MRI">MRI</label>
                            </div>
                            <div class="diagonictic-test-input-section">
                                <input type="checkbox" value="ultrasound" id="ultrasound" name="test"><label
                                    class="diagonictic-test-field-labels" for="ultrasound">Ultrasound</label>
                            </div>
                            <div class="diagonictic-test-input-section">
                                <input type="checkbox" value="bloodpressure" id="bloodpressure" name="test"><label
                                    class="diagonictic-test-field-labels" for="bloodpressure">Blood Pressure</label>
                            </div>
                            <div class="diagonictic-test-input-section">
                                <input type="checkbox" value="bloodsugar" id="bloodsugar" name="test"><label
                                    class="diagonictic-test-field-labels" for="bloodsugar">Blood Sugar</label>
                            </div>
                        </div>
                    </div>

                    <div id="medicine-details-field">
                        <div class="patient-content-heading">Medicines</div>
                            <div class="seperation-patient-content"></div>
                        <div id="medicine-details-input">
                            <div class="medicine-details-input-section">
                                <h3 class="medicine-id">Medicine 1</h2>
                                <div class="medicine-field-inputs">
                                    <label for="prescription-drug-name" class="medicine-field-labels">Drug Name :</label>
                                    <input type="text" id="prescription-drug-name" class="medicine-input" name="med_name1"
                                    placeholder="Drug name">
                                </div>
                                <div class="medicine-field-inputs">
                                    <label for="prescription-dosage" class="medicine-field-labels">Dosage :</label>
                                    <input type="text" id="prescription-dosage" class="medicine-input" name="med_dosage1"
                                    placeholder="Dosage">
                                </div>
                                <div class="medicine-field-inputs">
                                    <label for="" class="medicine-field-labels">Frequency :</label>
                                    <input min="0" type="number" id="prescription-frequency" class="medicine-input"
                                    name="med_frequency1" placeholder="Frequency">
                                </div>
                                <div class="medicine-field-inputs">
                                    <label for="prescription-days" class="medicine-field-labels">Number of Days :</label>
                                    <input min="0" type="number" id="prescription-days" class="medicine-input"
                                    name="med_days1" placeholder="No. of days">
                                </div>
                                <div class="medicine-field-inputs">
                                    <label for="prescription-quantity" class="medicine-field-labels">Quantity :</label>
                                    <input min="0" type="number" id="prescription-quantity" class="medicine-input"
                                    name="med_quantity1" placeholder="Quantity">
                                </div>
                                <div class="medicine-field-inputs">
                                    <label for="prescription-instruction" class="medicine-field-labels">Instruction :</label>
                                    <input type="text" id="prescription-instruction" class="medicine-input"
                                    name="med_instruction1" placeholder="Instruction">
                                </div>
                            </div>
                        </div>
                        <div id="prescription-buttons-section">
                            <button onclick="addMedicineInputField()" type="button" id="addMedicineInput">+</button>
                            <input id="prescription-submit-btn" type="submit" value="Submit">
                        </div>

                    </div>




                </form>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/doctor-patient-profile.js"></script>