<link rel="stylesheet" href="/css/autotyping.css">

<div id="complete-page" onload="load_heartbeat()">
<%- include('intro'); %>
<%- include('services'); %>
<%- include('playback'); %>
<%- include('about_us'); %>
<%- include('contact'); %>
</div>

<script>
  const text = document.querySelector(".sec-text");
  const textLoad = () => {
    setTimeout(() => {
      text.textContent = "EXPERT MEDICAL TREATMENT";
    }, 0);
  }
  textLoad();
  setInterval(textLoad, 12000);
</script>
<script src="/javascript/video.js"></script>