<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Linking CSS File Here -->
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <% if(locals.user){ %>
    <%- include('_header2'); %>
    <% }else if(!(title == "Sign up" || title == "Sign in")){ %>
    <%- include('_header'); %>
    <% } %>

    <!-- this body will contain the variable part for every page -->
    <%- body %>

    <% if(!(title == "Sign up" || title == "Sign in")){ %>
    <%- include('_footer'); %>
    <% } %>

    <%- script %>
</body>

</html>