<link rel="stylesheet" href="/css/doctor-patient-profile.css">
<div class="main-div">
    <div class="patient-list-div">
        <div class="pl-heading">DOCTORS</div>
        <section id="doc-list">
            <% for(let doctor of doctors){ %>
                <div class="seperation-doc"></div>
                <a href="/appointment/list-appointments/<%= doctor._id %>">
                    <div class="doc-id">
                        <img src="/images/patient-n.png" alt="Doctor " class="image">
                        <div class="doc-info">
                            <h1 class="doc-name">
                                <%= doctor.username %>
                            </h1>
                            <h3 class="doc-type">
                                <%= doctor.qualification %>
                            </h3>
                        </div>
                    </div>
                </a>
                <% } %>
        </section>
    </div>
    <div class="patient-detail-div">
        <div class="patient-detail-div-content">
            <div class="profile-heading">
                <img src="/images/patient-n.png" alt="Doctor " class="profile-heading-image">
            </div>
            <div class="button-profile-set">
                <button class="button-profile" id="b1" onclick="changetab(this.value, this.id)"
                    value="patient-content">User
                    Info</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b2" onclick="changetab(this.value, this.id)"
                    value="patient-visits">Appointments</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b3" onclick="changetab(this.value, this.id)"
                    value="patient-labs">Labs</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b4" onclick="changetab(this.value, this.id)"
                    value="patient-prescriptions">Prescriptions</button>
            </div>
            <div id="patient-content">
                <div class="patient-content-heading">General Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Name</div>
                    <div class="patient-content-right">
                        <%= user.username %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Age</div>
                    <div class="patient-content-right">
                        <%= user.age %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Sex</div>
                    <div class="patient-content-right">
                        <%= user.gender %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-heading">Contact Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Contact number</div>
                    <div class="patient-content-right">Unavailable</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">E-mail</div>
                    <div class="patient-content-right">
                        <%= user.email %>
                    </div>
                </div>
                <div class="seperation-patient-content"></div>
            </div>
            <div id="patient-visits">
                <div class="patient-content-heading">Upcoming Appointments</div>
                <% var i=0; %>
                    <% for(let appointment of appointments){ %>
                        <% i++ %>
                            <div class="patient-content-heading">Appointment <%=i%>
                            </div>
                            <div class="seperation-patient-content"></div>
                            <div class="patient-content-part">
                                <div class="patient-content-left">Doctor</div>
                                <div class="patient-content-right">
                                    <%= appointment.doctor %>
                                </div>
                            </div>

                            <div class="seperation-patient-content"></div>
                            <div class="patient-content-part">
                                <div class="patient-content-left">Day</div>
                                <div class="patient-content-right">
                                    <%= appointment.day %>
                                </div>
                            </div>

                            <div class="seperation-patient-content"></div>
                            <div class="patient-content-part">
                                <div class="patient-content-left">Time</div>
                                <div class="patient-content-right">
                                    <%= appointment.time %>
                                </div>
                            </div>
                            <% } %>
            </div>
            <div id="patient-labs">Labs: Coming soon!</div>

            <!-- patient prescription section -->

            <div id="patient-prescriptions">
                <%var j=1%>
                <% for( let prescription of prescription_list){ %>
                    <div class="patient-content-heading">Prescription No. <%=j%></div>
                    <%j++%>
                    <div class="seperation-patient-content"></div>
                    <div id="prescription-patient-details">
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Doctor :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.doctor.username %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Date :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.createdAt.getDate() %>-<%= prescription.createdAt.getMonth()+1 %>-<%=
                                            prescription.createdAt.getFullYear() %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Patient Name :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.patient.username %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Patient Age :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.patient.age %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Patient Gender :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.patient.gender %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Hospital Department :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.hospital_department %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Category :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.category %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Chief Complaint :</div>
                            <div class="prescription-patient-detail-right">
                                <%= prescription.complaint %>
                            </div>
                        </div>
                        <div class="prescription-patient-detail">
                            <div class="prescription-patient-detail-left">Test Tecommended :</div>
                            <div class="prescription-patient-detail-right">
                                <% if(prescription.test==[]){ %> None <%} for(let test of prescription.test){ %>
                                        <%= test %>, <% } %>
                            </div>
                        </div>
                        <ol>
                            <div class="patient-content-heading">Medicine Details</div>
                            <div class="seperation-patient-content"></div>
                            <%for(let med of prescription.medicine){ %>
                                <li class="patient-medicine-details">
                                    <div class="prescription-patient-detail">
                                        <div class="prescription-patient-detail-left">Medicine Name :</div>
                                        <div class="prescription-patient-detail-right">
                                            <%= med.name %>
                                        </div>
                                    </div>
                                    <div class="prescription-patient-detail">
                                        <div class="prescription-patient-detail-left">Dosage :</div>
                                        <div class="prescription-patient-detail-right">
                                            <%= med.dosage %>
                                        </div>
                                    </div>
                                    <div class="prescription-patient-detail">
                                        <div class="prescription-patient-detail-left">Frequency :</div>
                                        <div class="prescription-patient-detail-right">
                                            <%= med.frequency %>
                                        </div>
                                    </div>
                                    <div class="prescription-patient-detail">
                                        <div class="prescription-patient-detail-left">Number of Days :</div>
                                        <div class="prescription-patient-detail-right">
                                            <%= med.days %>
                                        </div>
                                    </div>
                                    <div class="prescription-patient-detail">
                                        <div class="prescription-patient-detail-left">Quantity :</div>
                                        <div class="prescription-patient-detail-right">
                                            <%= med.quantity %>
                                        </div>
                                    </div>
                                    <div class="prescription-patient-detail">
                                        <div class="prescription-patient-detail-left">Instruction :</div>
                                        <div class="prescription-patient-detail-right">
                                            <%= med.instruction %>
                                        </div>
                                    </div>
                                </li>
                                <div class="seperation-patient-content"></div>
                                <% } %>
                        </ol>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/doctor-patient-profile.js"></script>