<link rel="stylesheet" href="/css/doctor-patient-profile.css">
<div class="main-div">
    <div class="patient-list-div">
        <div class="pl-heading">DOCTORS</div>
        <section id="doc-list">
            <% for(let doctor of doctors){ %>
                <div class="seperation-doc"></div>
                <a href="/appointment/list-appointments/<%= doctor._id %>">
                    <div class="doc-id">
                        <img src="/images/patient-n.png" alt="Doctor " class="image">
                        <div class="doc-info">
                            <h1 class="doc-name"><%= doctor.username %></h1>
                            <h3 class="doc-type"><%= doctor.qualification %></h3>
                        </div>
                    </div>
                </a>
            <% } %>
        </section>
    </div>
    <div class="patient-detail-div">
        <div class="patient-detail-div-content">
            <div class="profile-heading">
                <img src="/images/patient-n.png" alt="Doctor " class="profile-heading-image">
            </div>
            <div class="button-profile-set">
                <button class="button-profile" id="b1" onclick="changetab(this.value, this.id)" value="patient-content">User
                    Info</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b2" onclick="changetab(this.value, this.id)"
                    value="patient-visits">Appointments</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b3" onclick="changetab(this.value, this.id)"
                    value="patient-labs">Labs</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b4" onclick="changetab(this.value, this.id)"
                    value="patient-prescriptions">Prescriptions</button>
            </div>
            <div id="patient-content">
                <div class="patient-content-heading">General Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Name</div>
                    <div class="patient-content-right"><%= user.username %></div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Age</div>
                    <div class="patient-content-right"><%= user.age %></div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Sex</div>
                    <div class="patient-content-right"><%= user.gender %></div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-heading">Contact Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Contact number</div>
                    <div class="patient-content-right">Unavailable</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">E-mail</div>
                    <div class="patient-content-right"><%= user.email %></div>
                </div>
                <div class="seperation-patient-content"></div>
            </div>
            <div id="patient-visits">
                <div class="patient-content-heading">Upcoming Appointments</div>
                <% var i = 0; %>
                <% for(let appointment of appointments){ %>
                    <% i++ %>
                    <div class="patient-content-heading">Appointment <%=i%></div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Doctor</div>
                        <div class="patient-content-right"><%= appointment.doctor %></div>
                    </div>
                    
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Day</div>
                        <div class="patient-content-right"><%= appointment.day %></div>
                    </div>
                    
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Time</div>
                        <div class="patient-content-right"><%= appointment.time %></div>
                    </div>
                <% } %>
            </div>
            <div id="patient-labs">Labs: Coming soon!</div>

            <!-- patient prescription section -->
            <div id="patient-prescriptions">
                <% for( let prescription of prescription_list){ %>
                    <div style="margin-bottom: 2rem;">
                    <h4>SMIT Prescription</h4>
                        Date: <%= prescription.createdAt.getDate() %>-<%= prescription.createdAt.getMonth()+1 %>-<%= prescription.createdAt.getFullYear() %><br>
                        Patient Name: <%= prescription.patient.username %><br>
                        Patient Age: <%= prescription.patient.age %><br>
                        Patient Gender: <%= prescription.patient.gender %><br>
                        Hospital Department: <%= prescription.hospital_department %><br>
                        Category: <%= prescription.category %><br>
                        Complaint: <%= prescription.complaint %><br>
                        Tests Recommended:<% if(prescription.test == []){ %> None <%} for(let test of prescription.test){ %> <%= test %>, <% } %><br>
                        Medicines:
                        <ul>
                        <%for(let med of prescription.medicine){ %>
                            <li>
                                Medicine Name: <%= med.name %><br>
                                Dosage: <%= med.dosage %><br>
                                Frequency: <%= med.frequency %><br>
                                Number of days: <%= med.days %><br>
                                Quantity: <%= med.quantity %><br>
                                Instruction: <%= med.instruction %><br>
                            </li>
                        <% } %>
                        </ul>
                        Doctor Name: <%= prescription.doctor.username %><br>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/doctor-patient-profile.js"></script>